/dist
/node_modules
/vendor
/.env
/.idea
/.vscode
/storage/*.key
/public/storage
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.DS_Store
.env.local
.env.*.local
composer.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*